
<h1>
    <%= fa_icon "barcode" %>
    Barcode Utilities
</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">ITF14 Labels</h5>
                <%= image_tag "ITF14.png",
                            alt: "Barcode Generator",
                            style: "height: 150px; object-fit: contain; cursor: pointer;",
                            id: "itf14-thumb" %>

                <p class="card-text">
                Generate ITF14 labels according to the specification. Select a CSV file with product details and barcode numbers formatted like this   
                <%= link_to "sample_ITF14.csv", "/sample_ITF14.csv", download: "sample_ITF14.csv" %> file.
                The generated label PDFs will be downloaded as a ZIP archive.
                </p>

                <%= render "upload_form" %>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Other label format 1</h5>
                    

                    <span class="placeholder col-6"></span>
                    <span class="placeholder w-75"></span>
                    <span class="placeholder" style="width: 25%;"></span>

                    <br/>
                    <a class="btn btn-primary disabled placeholder col-4" aria-disabled="true"></a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Other label format 2</h5>
                    

                    <span class="placeholder col-6"></span>
                    <span class="placeholder w-75"></span>
                    <span class="placeholder" style="width: 25%;"></span>

                    <br/>
                    <a class="btn btn-primary disabled placeholder col-4" aria-disabled="true"></a>
            </div>
        </div>
    </div>
</div>

