
<h1>
    <%= image_tag "barcode.png", alt: "Barcode Generator" %>
    Barcode Utilities
</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <%= image_tag "barcode.png", alt: "Barcode Generator", style: "width: 50px; height: 50px; object-fit: contain;" %>
            
            <div class="card-body">
                <h5 class="card-title">Barcode Labels</h5>
                <p class="card-text">Generate barcodes for label printing</p>
                <!--a href="#" class="btn btn-primary">Go</a-->

                <%=render "upload_form" %>
            </div>
        </div>
    </div>

</div>