<div id="exTab2" class="container" data-controller="login">

  <!--
  <div class="devise-container">
      <%= render "devise/shared/oauth_links" %>
  </div>

  <br/>

  <div class="devise-container" id="custom_login" style="display: none" data-login-target="customLoginView">  
    <%= render "devise/sessions/login" %>
  </div>
  -->
  <%= render "devise/sessions/login" %>

</div>