$body-bg:#fff;
$body-text:#333;

$header-bg:#222;
$header-text:white;
$header-a:#9d9d9d;
$header-a-hover:white;
$header-a-focus-bg:#2a6691;
$button-bg:#337ab7;
$button-border:#c2d4dd;
$button-text:#fff;
$button-hover:#1a4469;
$button-text-size:14px;
$button-text-weight:500;

$btn-info-bg:#5bc0de;
$btn-info-hover:#269abc;


$th-bg:#222;
$th-text:white;
$td-bg:#808080;
$td-text:white;
$td-border:white;

$input-bg:#488baa;
$input-text:$header-bg;
$input-ro-bg:$button-border;
$pre-bg:#eee;

$page-title-text:#333;
$page-title-border:#eee;

$banner-bg:#488baa;
$banner-text:white;

$section-border:$header-bg;
$section-bg: #a9b5b9;

$link: #1a4469;
$link-hover: #d38622;
$link-focus:  #a9b5b9;




