$body-bg:#fff;
$body-text:#333;

$header-bg:#034f84;
$header-text:white;
$header-a:#beecf1;
$header-a-hover:white;
$header-a-focus-bg:#2a6691;


$button-bg:#deeaee;
$button-border:#c2d4dd;
$button-text:#034f84;
$button-hover:#87bdd8;
$button-text-size:16px;
$button-text-weight:700;

$btn-info-bg:#87bdd8;
$btn-info-hover:#67a9d8;


$th-bg:$header-bg;
$th-text:white;
$td-bg:$button-bg;
$td-text:$header-bg;
$td-border:#b7d7e8;

$input-bg:white;
$input-text:$header-bg;
$input-ro-bg:$button-border;
$pre-bg:#eee;

$page-title-text:#333;
$page-title-border:#eee;

$banner-bg:#488baa;
$banner-text:white;

$section-border:$header-bg;
$section-bg: #a9b5b9;

$link: #1a4469;
$link-hover: #d38622;
$link-focus:  #a9b5b9;



